.coin {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 2px;
}

.coin > img {
  width: 100%;
  height: auto;
}

.coinRotation {
  animation: rotateCoin 2s infinite;
}

@keyframes rotateCoin {
  0% {
    transform: rotateX(0deg);
  }

  25% {
    transform: rotateX(360deg);
  }

  50% {
    transform: rotateX(-360deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}
