.error {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid crimson;
  background-color: lightcoral;
  padding: 4px;
  margin: 4px auto;
  color: #000;
}
