.userProfileImg {
  border: 2px solid #b6cdb8;
  border-radius: 50%;
  outline: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 35px;
  height: 35px;
}
