.coin {
  width: 200px;
  height: 200px;
}

.coinRotation {
  animation: rotateCoin 2s infinite;
}

@keyframes rotateCoin {
  0% {
    transform: rotateX(0deg);
  }

  25% {
    transform: rotateX(360deg);
  }

  50% {
    transform: rotateX(-360deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}
